click==8
torch==1.1.0
torchvision==0.3.0
requests
streamlit==1.8.0
#cupy
#cupy_cuda111==9.4.0
modules==1.0.0
numpy==1.21.5
#opencv-python
Pillow==6.1.0
tensorboardX==2.5
opencv-python-headless
